h1, h2, p {
  font-family: "Verdana", sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2{
  font-weight: 300;
  font-size: 42px;
  text-align: center;
}

.background {
  background-color: black;
  text-align: center;
}

.download {
  font-color: aquamarine;
  font-size: 16px;
  text-align: center;
}

.info {
  font-size: 21px;
  color: gray;
}

.copyright {
  text-align: right;
  font-size: 21px;
  color: gray;
}
